@charset "utf-8";
/* CSS Document

Project Name:  Bootstrap 4 Fremwork HTML5 Template
Version:  1.0
Author Name: Set PVT.
Support Email : shakil.shakil.ahsan@gmail.com
Design By: Mahamudul Hasan
Creation Date: 10 September 2018

*****=====***** TABLE OF CONTENT *****=====*****

01. IMPORTED STYLE CSS
02. GENERAL CSS

*/

/*****=====*****=====*****=====*****=====
    01. IMPORTED STYLE CSS
=====*****=====*****=====*****=====*****/

/* GOOGLE FONTs */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,900|Open+Sans:300,300i,400,600,600i,700,700i,800|Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Varela+Round');

/* OTHER IMPORTED CSS */
@import url('bootstrap-dropdownhover.css');
@import url('font-awesome.min.css');
@import url('font-awesome-animation.min.css');
@import url('pe-icon-7-stroke.css');
@import url('stroke-gap-icons.css');
@import url('animate.min.css');
@import url('animations.css');
@import url('custom-animation.css');
@import url('elegant-icons.css');
@import url('fancybox.css');
@import url('jquery-ui.css');
@import url('magnific-popup.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.css');
@import url('flexslider.css');
@import url('menu.css');
@import url('slick.css');
@import url('flaticon.css');
@import url('ionicons.min.css');
@import url('player.css');
@import url('VideoPopUp.css');

/*****=====*****=====*****=====*****=====
    02. General CSS
=====*****=====*****=====*****=====*****/

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .5px;
    line-height: 26px;
    color: #777;
}

/* Common CSS */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Varela Round', sans-serif;
    color: #111111;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    margin: 0;
    padding: 0;
}
a {
    color: #777;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a:focus,
a:hover {
    text-decoration: none;
    color: #168dd2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

}
/* ul {
    margin: 0;
    padding: 0;
} */
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit:cover;
}
img.slide-image{
    width:100%;
    max-width: 100%;
    height:480px;
}
section {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* Form CSS */
input {
    resize: none;
    height: 55px;
    margin-bottom: 10px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
/* Form CSS */
.form-control {
    resize: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}
.form-control:focus {
    border-color: #333;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
::-webkit-input-placeholder {
    color: #999 !important;
}
::-moz-placeholder {
    color: #999 !important;
}
:-ms-input-placeholder {
    color: #999 !important;
}
input:-moz-placeholder {
    color: #999 !important;
}

.container {
    padding: 70px 0 50px;
}

section {
    position: relative;
    overflow: hidden;
}
.section-title {
    margin-bottom: 70px;
}




/*======= ****========****=======
    Color Style ( Default Theme Color Style )
/*======= ****========****=======*/
.theme-color {
  color: #168dd2;
}
.bg-theme-color {
  background: #168dd2;
}
.bg-f8 {
  background: #f8f8f8;
}

.over-layer-black {
    position: relative;
}

.over-layer-black:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.7);
}



/*****=====*****=====*****=====*****=====
    Button Style Css
=====*****=====*****=====*****=====*****/
.btn {
  cursor: pointer;
}
.btn-theme,
.btn-theme-1,
.btn-black,
.btn-white,
.btn-transparent,
.btn-bordered {
  padding: .85rem 1.4rem;
  border-radius: 0;
  border: none;
  color: #fff;
  background: #CA4C31;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.btn-theme:hover,
.btn-theme-1:hover,
.btn-black:hover,
.btn-white:hover,
.btn-transparent:hover,
.btn-bordered:hover {
    color: #ffffff;
    background: #3b6101;
    border: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-theme-1 {
    color: #ffffff;
    background: #0f75b3;
}
.btn-theme-1:hover {
    color: #ffffff;
    background: #168dd2;
}
.btn-black {
    color: #ffffff;
    background: #333;
}
.btn-black:hover {
    color: #ffffff;
    background: #168dd2;
}
.btn-white {
    color: #333;
    background: #ffffff;
    border: 1px solid #333;
}
.btn-white:hover {
    color: #ffffff;
    background: #168dd2;
    border: 1px solid #168dd2;
}
.btn-transparent {
    color: #168dd2;
    background: transparent;
}
.btn-transparent:hover {
    color: #ffffff;
    background: #168dd2;
}
.btn-bordered {
    color: #168dd2;
    background: transparent;
    border: 1px solid #168dd2;
}
.btn-bordered:hover {
    color: #ffffff;
    background: #168dd2;
    border: 1px solid #168dd2;
}


/* Service Box / Icon Box Style Css*/

.service-item {
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.service-item.style-1 {
  display: flex;
  padding: 20px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item.style-1 i {
  font-size: 30px;
  color: #222;
  padding:0;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item .service-icon i {
    font-size: 30px;
   color: #222;
   padding:0;
   display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.service-item.style-1:hover i {
  color: #168dd2;
}
.service-item.style-1 .content {
  padding-left: 1em;
}
.service-item.style-1 .content h5 {
  font-size: 16px;
}
.service-item.style-1 .content h5 a {
  color: #222;
}
.service-item.style-1 .content h5:hover a {
  color: #168dd2;
}

/*****=====*****=====*****=====*****=====
    Main Slider Style Css
=====*****=====*****=====*****=====*****/

.bs-slider{
    overflow: hidden;
    max-height: 650px;
    position: relative;
    background: #000000;
}
.bs-slider:hover {
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.bs-slider:active {
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.bs-slider .bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.40);
}
.bs-slider > .carousel-inner > .item > img,
.bs-slider > .carousel-inner > .item > a > img {
    margin: auto;
    width: 100% !important;
}

/*---------- LEFT/RIGHT ROUND CONTROL ----------*/
.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 45px;
    padding: 0 15px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    position: absolute;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}

/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: #FFF;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #168dd2;
    background-color: transparent;
    position: relative;
    border-color: #168dd2;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #168dd2;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

/*---------- SLIDE CAPTION ----------*/
.slide-style-left {
    text-align: left !important;
}
.slide-style-right {
    text-align: right !important;
}
.slide-style-center {
    text-align: center !important;
}

.slide-text {
    left: 15%;
    top: 25%;
    right: 15%;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;

}

.slide-text > h2 {
    padding: 0;
    color: #ffffff;
    font-size: 42px;
    font-style: normal;
    line-height: 45px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
    padding: 0;
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
    color: #Fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: 1px solid #FFF;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
    color: #ffffff;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #168dd2;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff;
    background: #222222;
    border: 1px solid transparent;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

/* Type-slider Css */

.type-slider {
  padding-top: 220px;
  padding-bottom: 170px;
}
.type-slider p {
  color: #eee;
}

/* Flexslider */

.flexslider {
    height: 600px;
    margin: 0 auto;
    box-shadow: none;
    overflow: hidden;
    border: none;
}

.flexslider li {
    position: relative;
}

.flexslider li .meta {
    position: absolute;
    top: 25%;
    left: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.flexslider li .meta.slide-center,
.flexslider li .meta.slide-center h2,
.flexslider li .meta.slide-center p,
.flexslider li .meta.slide-center .category {
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}


.flexslider li .meta.slide-center h2,
.flexslider li .meta.slide-center p,
.flexslider li .meta.slide-center .category {
  margin-bottom: 20px;
}
.flexslider li .meta.slide-center p {
  margin-bottom: 30px;
}

.flexslider li h2 {
    background: rgba(51, 51, 51, 0.5);
    padding: 12px 18px 12px;
    font-size: 1.8em;
    font-weight: 300;
    color: #fff;
}

.flexslider li p {
    background: rgba(51, 51, 51, 0.5);
    padding: 13px 18px 11px;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 20px;
}

.flexslider li h2,
.flexslider li p,
.flexslider li .category button,
.flexslider li .category button {
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.flexslider li.flex-active-slide .meta h2,
.flexslider li.flex-active-slide .meta p,
.flexslider li.flex-active-slide .meta .category button,
.flexslider li.flex-active-slide .meta .category button {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    -webkit-animation-duration: .6s;
    animation-duration: .6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

.flexslider li.flex-active-slide .meta h2 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
}

.flexslider li.flex-active-slide .meta .category button {
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
}

.flexslider li.flex-active-slide .meta .category button {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

.flex-direction-nav {
  margin-top: -42%;
}
.flex-direction-nav li .flex-next {
  z-index: 999;
  right: 30px;
}
.flex-direction-nav a:before {
  font-size: 30px;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}


/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text {
        display: none;
    }
    .bs-slider{
        max-height: 450px;
    }

}

/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }
    .carousel-indicators {
      display: none;
    }

}

.btn-slider {
    margin-top: 30px;
    border-color: #FFF;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.btn-slider:hover {
    border-color: #333;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.border-1px {
    border: 1px solid #ddd;
}
.border-bottom-1px {
    border-bottom: 1px solid #ddd;
}
.border-right-1px {
    border-right: 1px solid #ddd;
}

/* Slick Slider Style Css */

.slick-slider .slick-next {
  right: 40px;
}
.slick-slider .slick-prev {
  left: 20px;
  z-index: 1;
}
.slick-slider .slick-dots {
  bottom: 20px;
}
.slick-slider .slick-prev:before,
.slick-slider .slick-next:before {
  font-size: 40px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-slider:hover .slick-prev:before,
.slick-slider:hover .slick-next:before {
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slick-slider .ct-slick {
  margin-bottom: 0;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
/*.slick-slider {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}*/
.slick-initialized .slick-slide {
  display: block;
}
.slick-tablex-display {
  display: table;
  width: 100%;
  height: 600px;
}
.slick-tablex-display > .slick-slider-inner {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.slick-slider h2.big {
  font-size: 60px;
  line-height: 1;
  color: #fff;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  padding-top: 50px;
}
.slick-slider p {
  font-size: 16px;
  color: #fff;
}

.ct-slick .slick-track,
.ct-slick .slick-list,
.ct-slick .item,
.ct-slick .slick-item {
  min-height: inherit;
}
.ct-slick .item {
  background-size: cover;
}


/* Transitions */
.slick-slider .activate {
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1 * 100);
  filter: alpha(opacity=1 * 100);
}
.slick-slider .animated {
  -moz-opacity: 0;
  -khtml-opacity: 0;
  -webkit-opacity: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0 * 100);
  filter: alpha(opacity=0 * 100);
}
/*****=====*****=====*****=====*****=====
  Video Bacground style Css
=====*****=====*****=====*****=====*****/

.video-area {
    position: relative;
    overflow: hidden;
}
.video-area h2,
.video-area p {
    color: #FFF;
}
.video-area h2 span {
    color: #168dd2;
}
.video-area .container {
    padding-top: 220px;
    padding-bottom: 220px;
}
.video-bg {
  height: 100%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: -1;
}
.video-bg .video {
  height: 100%;
  left: 0;
  margin: 0!important;
  position: relative;
  top: 0;
  width: 100%;
}
.video-bg .video .mbYTP_wrapper {
  z-index: -1 !important;
}
a.btn-primary {
  color: #ffffff;
  cursor: pointer;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-left: 10px;
  text-align: center;
  padding: 17px 30px;
  white-space: nowrap;
  letter-spacing: 1px;
  background: #168dd2;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}



/*****=====*****=====*****=====*****=====
  Particles Bacground style Css
=====*****=====*****=====*****=====*****/
canvas{
  display:block;
  vertical-align:bottom;
}

#particles-js{
  width: 100%;
  height: 600px;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.particles-bg {
  position: relative;
  overflow: hidden;
}
.particles-bg:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.particles-content {
  position: absolute;
  top: 35%;
  left: 25%;
}
.particles-content p {
  color: #fff;
}

/*****=====*****=====*****=====*****=====
    Blog Single Style Css
=====*****=====*****=====*****=====*****/


/* Blog Comments */
.blog-comments img {
  border-radius: 50%;
}

.blog-comments .comment {
  background: #f5f5f5;
  padding: 20px 30px;
  position: relative;
}

.blog-comments .comment:before {
  width: 0;
  height: 0;
  top: 20px;
  left: -17px;
  content: " ";
  position: absolute;
  border-style: solid;
  border-width: 15px 17px 15px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.blog-comments .comment h5 {
  font-size: 16px;
}

.blog-comments .comment span {
  color: #555;
  float: right;
  font-size: 13px;
}

.blog-comments .comment p {
  color: #555;
}
/*Comments Reply*/
.blog-comments.blog-comments-reply {
  margin-left: 70px;
}

.blog-info li a,
.blog-post h3 a {
    color: #333;
}
.blog-post h3,
.blog-info {
    padding-top: 15px;
}
.blog-info>li {
    display: inline-block;
}
.blog-post h3 {
    font-size: 22px;
}
.blog-post blockquote {
    position: relative;
    padding: 40px 40px 40px 40px;
    font-size: 1.071em;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Blog Admin Style Css */

.blog-admin {
  padding: 20px;
  background: #f5f5f5;
}

.blog-admin img {
  float: left;
  width: 80px;
  height: auto;
  margin-right: 20px;
}

.blog-admin .blog-admin-desc {
  overflow: hidden;
}

.blog-admin .blog-admin-desc h5 {
  float: left;
  font-size: 16px;
  margin: 0 0 10px;
  text-transform: uppercase;
  text-transform: capitalize;
}

.blog-admin .blog-admin-desc ul {
  float: right;
}

.blog-admin .blog-admin-desc p {
  color: #555;
}
.blog-admin .blog-admin-desc ul>li {
  display: inline-block;
  padding: 0 5px;
}

.blog-admin-desc ul li a {
    color: #333;
}
.blog-admin-desc ul li a:hover {
    color: #168dd2;
}

/* Blog Admin Style Css */

.comment h5 span a {
    color: #168dd2;
}
.comment h5 span a:hover {
    color: #333;
}

/* Tweeter Feed Style Css */
.twitter-feed li {
  font-size: 13px;
  position: relative;
  margin-bottom: 15px;
  margin-top: 0px;
  padding-left: 45px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #333;
}
.twitter-feed .date {
  font-size: 12px;
}
.twitter-feed li::after {
  content: "\f099";
  font-size: 24px;
  font-family: fontawesome;
  left: 0;
  position: absolute;
  top: 5px;
  color: #1da1f2;
}



/* Blog Sideber Style Css*/
.sideber-title {
    position: relative;
    margin-bottom: 10px;
    background: #F3f3f3;
    padding: 20px 0 10px 10px;
    border-left: 2px solid #168dd2;
}
.sideber-title h4 {
    margin-left: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.sideber-content{
    margin-left: 10px;
}
.sideber-content ul li {
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px dashed #333;
}
.sideber-content ul li:hover {
    padding-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.sideber-content ul li a {
    color: #333;
}
.sideber-content ul li a i {
    color: #168dd2;
    margin-right: 5px;
}
.sideber-content ul li:hover a {
    color: #168dd2;
}
.blog-sideber .widget {
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.widget .widget-post {
    padding: 0px 5px;
}
.widget .news-area {
    padding-bottom: 10px;
    margin-bottom: 5px;
    display: flex;
    border-bottom: 1px solid #ddd;
}
.widget .widget-post .news-content {
    padding-top: 10px;
}
.widget .news-area .news-content a {
    color: #333;
}
.widget .news-area .news-content a:hover {
    color: #168dd2;
}

.widget .gallery h6 {
    margin-top: 15px;
}
.widget .gallery h6 a {
    color: #222;
}
.widget .gallery h6:hover a {
    color: #168dd2;
}

/* Sideber page Post Style css */
.post-blog-item {
    margin-bottom: 30px;
    background-color: #f3f3f3;
}
.post-blog-item .post-blog-content h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.post-blog-item .post-blog-content h4 a{
    color: #222;
}
.post-blog-item .post-blog-content p {
    margin-top: 20px;
    margin-bottom: 20px;
}
.post-blog-item .post-blog-content .post-blog-date i {
    color: #168dd2;
}
.post-blog-item .post-blog-time {
    float: right;
}
.post-blog-item .post-blog-time li {
    display: inline-block;
    margin-right: 20px;
}
.post-blog-item .post-blog-content {
    padding: 15px;
}

/* Blog Tags Style Css */

.tags li a {
    color: #fff !important;
}
.tags li {
    background: #333;
    color: #fff;
    padding:5px !important;
    margin-bottom: 5px;
    display: inline-block;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tags li:hover {
    background: #168dd2;
    color: #fff;
    border-bottom:  none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.sideber-content.about{
    margin-left: 0;
}
/* Blog search Button Style Css */
.blog-search input,
.blog-search button {
    height: 60px;
    float: left;
}
.blog-search input {
    padding-left: 25px;
    font-size: 15px;
    color: #168dd2;
    width: calc(100% - 65px);
    border: 1px solid #eaeaea !important;
    border-right: none !important;
}

.blog-search input:focus {
    border: 1px solid #168dd2 !important;
    border-right: none !important;
}

.blog-search button {
    width: 65px;
    background: #168dd2;
    line-height: 65px;
    text-align: center;
    color: #fff;
    border: none;
    font-size: 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-search input:focus + button,
.blog-search button:hover {
    background: #333 !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/*======= ****========****=======
    Shop Style ( All Shop Style )
/*======= ****========****=======*/
.shop-item {
  position: relative;
  overflow: hidden;
  border: 1px solid #f2f2f2;
  margin-bottom: 30px;
}
.shop-img {
  position: relative;
  overflow: hidden;
}
.shop-content {
  padding: 10px;
}
.shop-item .shop-content h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.shop-rating {
  font-size: 14px;
  line-height: 1;
  overflow: hidden;
  position: relative;
  width: 75px;
  height: 22px;
}
.shop-rating::before {
  color: #a9a9a9;
  content: "";
  float: left;
  font-family: fontawesome;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
}
.shop-rating span {
  float: left;
  left: 0;
  overflow: hidden;
  padding-top: 1.5em;
  position: absolute;
  top: 0;
}
.product-price {
    color: #333038;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0 8px;
}
.product-price del {
    color: #9e9d9e;
    font-size: 13px;
    margin-right: 5px;
}
.product-price ins {
    color: #333333;
    font-size: 16px;
    text-decoration: none;
    font-weight: 600;
}

.product-size {
    display: block;
}
.product-size li {
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    line-height: 1;
    margin-bottom: 10px;
}
.discount,
.in-stock {
  position: absolute;
  right: 0;
  bottom: 8%;
  background: #168dd2;
  color: #fff;
  padding: 10px;
  line-height: 1;
  z-index: 2;
}
.in-stock {
  top: 0;
  bottom: auto;
  font-size: 16px;
  text-transform: uppercase;
  z-index: 2;
}
.stock-out {
  background: red;
}
.mega-offer {
  background: rgb(0, 172, 231)
}


.shop-img>a:before {
    background-color: rgba(0,0,0, 0.7);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.shop-item .shop-img:hover a:before {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.shop-item .shop-img img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.shop-item:hover .shop-img img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.product-img-icon {
  display: block;
  text-align: center;
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0 10px;
  margin: 0 auto;
  bottom: -22%;
  background: #168dd2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-img-icon li {
  display: inline-block;
  padding: 8px;
  border: 1px solid #FFF;
  line-height: 1;
  text-align: center;
  cursor: pointer;
}

.product-img-icon li i {
  color: #fff;
  font-size: 18px;
}
.product-img-icon li:hover{
  background: #222;
  border: 1px solid #222;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.shop-item:hover {
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.shop-item:hover .product-img-icon {
  bottom: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.widget-categories-list .categories-active {
    border-top: 1px dashed #168dd2;
    display: none;
    padding-left: 20px
}
.widget-categories-list > ul > li.current-categories-lists > .categories-active {
    display: block;
}
.widget-categories-list ul li a {
    display: block;
    padding: 10px;
    color: #333;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 26px
}
.widget-categories-list ul li a:hover{
    color: #168dd2
}
.widget-categories-list ul > li, .categories-lists ul li {
    border-bottom: 1px dashed #ededed;
}
.widget-categories-list ul > li:last-child{
    border-bottom: 0px dashed #ededed
}
.shop-item.shop-list .shop-content {
    margin-top: 40px;
}
.shop-item.shop-list .shop-content p {
    margin-bottom: 10px
}
.shop-item.shop-list .discount {
    right: 15px;
}
.shop-item.shop-list .in-stock {
    right: auto;
    left: 0;
}

.product-size-item h6,
.product-color-item h6,
.product-number-item h6,
.product-rating-item h6 {
  color: #000;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  text-transform: capitalize;
}
.product-size-item ul,
.product-color-item li,
.product-rating-item .shop-rating,
.product-color {
  display: inline-block !important;
}

.product-rating-item .shop-rating {
  top: 10px;
}



.product-number-item input {
    height: 30px;
    padding: 10px;
    width: 70px;
}
.product-color {
  line-height: 1;
}
.product-color li {
    display: block;
    height: 25px;
    text-align: center;
    width: 25px;
    border-radius: 50%;
}
.product-color-1{
    background: #E54661 none repeat scroll 0 0;
}
.product-color-2{
    background: #002D40 none repeat scroll 0 0;
}
.product-color-3{
    background: #FF0DFF none repeat scroll 0 0;
}
.product-color-4{
    background: #111111 none repeat scroll 0 0;
}
.product-color-5{
    background: #89DDAC none repeat scroll 0 0;
}

.shop-tab-menu .nav-item {
  text-transform: uppercase;
  font-size: 13px;
}


.shop-product-row {
  margin-top: 20px;
}
.shop-tab-content .shop-product-details-row {
    clear: both;
    display: table-row;
}

.shop-tab-content .shop-product-details-row .details {
    display: table-cell;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    padding-right: 20px;
    width: 25%;
    color: #333;
    font-weight: bold;

}
.shop-tab-content .shop-product-details-row .product-type {
    display: table-cell;
    border-top: 1px solid #ddd;
    padding: 10px 0;
}

/*======= ****========****=======
    Footer Style ( All Footer Style )
/*======= ****========****=======*/

footer {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.footer-item {
  position: relative;
  margin-bottom: 30px;
}
.footer-logo {
  width: 180px;
}
.footer-logo-2 {
  width: 250px;
  text-align: center;
}
.footer-widget-one p {
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer-widget-one .address li {
  margin-bottom: 10px;
  font-size: 15px;
}
.footer-widget-one .address li i {
  margin-right: 8px;
  font-size: 18px;
  color: #168dd2;
}
.social-icon li {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}
.social-icon li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icon li {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social-icon.bg-f2 li {
  background: #f2f2f2;
}
.social-icon.bg-f2 li a {
  color: #168dd2;
}
.social-icon.bg-f2 li:hover {
  background: #3b6101;
}
.social-icon.bg-f2 li:hover a {
  color: #FFF;
}
.social-icon.bg-theme li {
  background: #168dd2;
}
.social-icon.bg-theme li a {
  color: #fff;
}
.social-icon.bg-theme li:hover {
  background: #222;
}
.social-icon.bg-theme li:hover a {
  color: #fff;
}
.social-icon.bg-black li {
  background: #222;
}
.social-icon.bg-black li a {
  color: #fff;
}
.social-icon.bg-black li:hover {
  background: #3b6101;
}
.social-icon.bg-black li:hover a {
  color: #fff;
}
.social-icon.bg-transparent li {
  background: transparent;
}
.social-icon.bg-transparent li a {
  color: #333;
}
.social-icon.bg-transparent li:hover {
  background: transparent;
}
.social-icon.bg-transparent li:hover a {
  color: #3b6101;
}
.social-icon.rounded li {
  border-radius: 50%;
}
.social-icon.round li {
  border-radius: 7px;
}
.social-icon.bordered li {
  border: 1px solid;
}
.social-icon.bordered li:hover {
  background: #3b6101;
  border-color: #3b6101;
}
.social-icon.bordered li:hover a {
  color: #fff;
}
.social-icon.bordered-theme li {
  border: 1px solid #168dd2;
}
.social-icon.bordered-theme li a {
  color: #168dd2;
}
.social-icon.bordered-theme li:hover {
  background: #3b6101;
  border-color: #3b6101;
}
.social-icon.bordered-theme li:hover a {
  color: #fff;
}
.news-area {
  margin-bottom: 20px;
}
.news-img {
    float: left;
    padding-top: 5px;
    padding-right: 15px;
}
.news-img a {
    display: inline-block;
    position: relative;
}
.news-img a span {
    font-size: 22px;
    position: absolute;
    top: 70%;
    left: 50%;
    color: #FFF;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-img a:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #168dd2;
    visibility: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}
.news-area:hover .news-img a:after {
    visibility: visible;
    opacity: .8;
}
.news-area:hover .news-img a span {
    visibility: visible;
    opacity: 1;
    top: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.news-area .news-content p{
  font-size: 15px;
  padding-top: 10px;
}
.news-area .news-content span{
  color: #168dd2;
}


.footer-list li {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid #CA4C31;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-list li a {
  margin-left: 5px;
}

.footer-list.border-deshed li {
  border-bottom: 1px dashed #168dd2;
}
.footer-list.color-icon li i {
  color: #168dd2;
}

.footer-list li:hover {
  padding-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.footer-title {
  margin-bottom: 30px;
}


.footer-title h4 {
  font-size: 20px;
}
.border-style-1,
.border-style-2,
.border-style-3 {
    position: relative;
}


.border-style-1:before {
    top: 1px;
    content: "";
    height: 1px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 120px;
    background: #f8f8f8;
}
.border-style-1:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 40px;
    background: #CA4C31;
}

.border-style-2:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 50px;
    background: #168dd2;
}

.border-style-3:before {
    top: -45px;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 70px;
    background: #168dd2;
}
.border-style-3:after{
    top: 0;
    content: "";
    height: 3px;
    left: 2px;
    margin: auto;
    position: absolute;
    width: 40px;
    background: #168dd2;
}


.img-rounded img,
.img-rounded a:after,
.img-rounded a:before {
  border-radius: 100%;
}

.img-round img,
.img-round a:after,
.img-round a:before {
  border-radius: 10px;
}


.footer-item .subscribe-style-one,
.footer-item .subscribe-style-two,
.footer-item .subscribe-style-three {
  margin-bottom: 30px;
}


.btn-subscribe {
  height: 55px;
  border-radius: 0;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.btn-subscribe:hover {
  background: #168dd2;
}

.subscribe-style-two .btn-subscribe {
  background: #CA4C31;
}
.subscribe-style-two .form-control:focus {
  border-color: #CA4C31;
}
.subscribe-style-two .btn-subscribe:hover {
  background: #3b6101;
}
.footer-item .newsletter-text {
  position: relative;
  padding-bottom: 20px;
}
.footer-item .newsletter-text:before {
  top: 30px;
  content: "";
  height: 3px;
  left: 2px;
  margin: auto;
  position: absolute;
  width: 40px;
  background: #CA4C31;
}
.flicker-feed>a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.3333%;
    z-index: 1;
}
.flicker-feed.gutter>a {
    display: inline-block;
    float: left;
    position: relative;
    width: 33.33%;
    z-index: 1;
    padding: 1px;
}

.flicker-feed>a:before {
    background: rgba(22, 141, 210, 0.90);
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.flicker-feed>a:hover:before,
.flicker-feed>a:hover:after {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.flicker-feed>a:after {
    color: #fff;
    content: "\e618";
    font-family: 'Pe-icon-7-stroke';
    font-size: 24px;
    font-weight: 300;
    left: 45%;
    position: absolute;
    top: 45%;
    margin-top: -7px;
    margin-left: -7px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.footer-item form .form-control {
  height: 45px;
  margin-bottom: 0;
}
.footer-item .contact-textarea .form-control {
  height: 85px;
  margin-bottom: 15px;
}
.footer-btn {
    font-size: 13px;
    color: #fff;
    background: #222;
}
.footer-btn:hover {
    color: #fff;
    background: #168dd2;
}

.footer-btn-1 {
    font-size: 13px;
    color: #fff;
    background: #168dd2;
}
.footer-btn-1:hover {
    color: #fff;
    background: #222;
}
.footer-item .footer-feature i {
  font-size: 30px;
  margin-bottom: 15px;
}
.footer-copy-right .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-footer-1 {
    color: #fff;
}

.bg-footer-1 a:hover {
    color: #168dd2;
}
.bg-footer-1,
.bg-footer-1 h4,
.bg-footer-1 .footer-title h4,
.bg-footer-1 h5,
.bg-footer-1 .footer-item h6,
.bg-footer-1 .footer-item .newsletter-text,
.bg-footer-1 .footer-item .social-icon.bordered li i,
.bg-footer-1 .social-icon.bordered li i,
.bg-footer-1 .footer-item .social-icon.bg-black li,
.bg-footer-1 a {
    color: #fff;
}

#map {
    width: auto;
    height: 525px;
}

.bg-footer-1 hr {
    background: #eee;
}
.bg-footer-1 .footer-item form .form-control {
    background: transparent;
    border-color: #777;
}
.bg-footer-1 .footer-item form .form-control:focus {
    border-color: #168dd2;
}


 /*form style Css*/

.form-style-one .form-control {
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
}
